@import "../af-theme.css";
#p-Organisations>div,
#p-Projects>div,
#p-Pages>div,
#p-Namespaces>div{ display: block; margin: 0 !important;}
#p-Namespaces .nsFound {color:green;font-weight:bold;}
.claro .dijitTreeNode 
{
	font-size: 12px;
}

#p-Organisations	.dijitTreeExpando ,
#p-Projects			.dijitTreeExpando { visibility:hidden; }

#p-Organisations:hover	.dijitTreeExpando ,
#p-Projects:hover		.dijitTreeExpando { visibility:visible; }

.expanded:hover .dijitTree{ overflow: visible; }

.Page_Select_Control input[name=title]{width:100%;}
